@CHARSET "UTF-8";
fieldset {
    border: 1px solid black;
    background-color: #E3F2FD;
}
legend {
    border: 1px solid black;
    background-color: #81C784;
    font-size: 16pt;
    padding: 3px;
}
label {
    font-size: 16pt;
}
textarea {
    border: 1px solid black;
    font-size: 16pt;
    background-color: #E3F2FD;
    width: 100%;
}
.inputText {
    font-size: 16pt;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 1px solid black;
    background-color: #E3F2FD;
}
.button {
    font-size: 16pt;
    border: 1px solid black;
    background-color: #81C784;
}