@CHARSET "UTF-8";
table {
	border: 1px solid black;
	border-collapse: collapse;
	width: 100%;
	font-size: 16pt;
	background-color: #E3F2FD;
}
th {
	background-color: #81C784;
}
tr {
	border: 1px solid gray; 
}
input {
    background-color: #81C784;
    border: 1px solid black;
    font-size: 16pt;
}
