@CHARSET "UTF-8";
@CHARSET "UTF-8";
fieldset {
    border: 1px solid black;
    background-color: #E3F2FD;
}
legend {
    border: 1px solid black;
    background-color: #81C784;
    font-size: 16pt;
    padding: 3px;
}
label {
    font-size: 16pt;
}
.button {
    font-size: 16pt;
    border: 1px solid black;
    background-color: #81C784;
}
